MaskDetection_AI/MaskDetection_Desktop/bin/
MaskDetection_AI/MaskDetection_Desktop/obj/
MaskDetection_AI/RTSPMask/bin/x64/Debug/libvlccore.dll
MaskDetection_AI/RTSPMask/bin/
MaskDetection_AI/RTSPMask/obj/
MaskDetection_AI/StreamRTSP/bin/
MaskDetection_AI/StreamRTSP/obj/
MaskDetection_AI/RTSP_Mask/obj/
